﻿@{
    ViewData["Title"] = "Contact";
}
<h2>@ViewData["Title"]</h2>
<h3>@ViewData["Message"]</h3>

<address>
    Martin G.<br />
    Plovdiv<br />
    <abbr title="Fake Phone">P:</abbr>
    0899 123 456
</address>

<address>
    <strong>Support:</strong> <a href="mailto:marty99_1@abv.bg">marty99_1@abv.bg</a><br />
    <strong>Marketing:</strong> <a href="mailto:marty99_1@abv.bg">marty99_1@abv.bg</a>
</address>
