﻿<h2>Authentication</h2>

<hr />
<h4>Input a key to try to authenticate</h4>
@ViewBag.Message
@using (Html.BeginForm())
{
    <p>
        Key: @Html.TextBox("key") <br />
        <input type="submit" value="Authenticate" />
    </p>
}
<div>
    <a href="/Home/Index">To Home</a>
</div>