﻿<h2>Details</h2>

<div>
    <h4>Order</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            Client Name
        </dt>
        <dd>
            @ViewBag.Order.Client.Fname
        </dd>
        <dt>
            Product Name
        </dt>
        <dd>
            @ViewBag.Order.Product.ProductName
        </dd>
        <dt>
            Amount
        </dt>
        <dd>
            @ViewBag.Order.Amount
        </dd>
        <dt>
            Total Cost
        </dt>
        <dd>
            @ViewBag.Order.TotalCost
        </dd>
        <dt>
            Payment Method
        </dt>
        <dd>
            @ViewBag.Order.PaymentMethod
        </dd>
        <dt>
            Date of Purchase
        </dt>
        <dd>
            @ViewBag.Order.DatePurchased
        </dd>
    </dl>
</div>
<div>
    <a href="/Orders/Edit/@ViewBag.Order.Id">Edit</a> |
    <a href="/Orders/Index">Back To List</a>
</div>
