﻿<h2>Edit</h2>

<h4>Order</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <div class="text-danger"></div>
        @using (Html.BeginForm())
        {
            @Html.Hidden("id")
            <table class="table">
                <thead>
                    <tr>
                        <th>
                            Client Name
                        </th>
                        <th>
                            Product Name
                        </th>
                        <th>
                            Amount
                        </th>
                        <th>
                            Total Cost
                        </th>
                        <th>
                            Payment Method
                        </th>
                        <th>
                            Date of Purchase
                        </th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>
                            @Html.DropDownList("clientid", (IEnumerable<SelectListItem>)ViewBag.DropDownClients)
                        </td>
                        <td>
                            @Html.DropDownList("productid", (IEnumerable<SelectListItem>)ViewBag.DropDownProducts)
                        </td>
                        <td>
                            @Html.TextBox("amount")
                        </td>
                        <td>
                            @Html.TextBox("totalcost")
                        </td>
                        <td>
                            @Html.TextBox("paymentmethod")
                        </td>
                        <td>
                            @Html.TextBox("datepurchased")
                        </td>
                    </tr>
                </tbody>
            </table>
            <input type="submit" value="Save" />
        }
    </div>
</div>
@ViewBag.Message
<div>
    <a href="/Orders/Index">Back To List</a>
</div>