﻿<h2>Orders List</h2>

<p>

</p>
<a href="/Orders/Create">Create New</a>
@using (Html.BeginForm())
{
    <p>
        Payment Method: @Html.TextBox("search") <br />
        <input type="submit" value="Filter" />
    </p>
}

<table class="table">
    <thead>
        <tr>
            <th>
                Client Name
            </th>
            <th>
                Product Name
            </th>
            <th>
                Amount
            </th>
            <th>
                Total Cost
            </th>
            <th>
                Payment Method
            </th>
            <th>
                Date of Purchase
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in ViewBag.OrdersList)
        {
            <tr>
                <td>
                    @item.Client.Fname
                </td>
                <td>
                    @item.Product.ProductName
                </td>
                <td>
                    @item.Amount
                </td>
                <td>
                    @item.TotalCost
                </td>
                <td>
                    @item.PaymentMethod
                </td>
                <td>
                    @item.DatePurchased
                </td>
                <td>
                    <a href="/Orders/Edit/@item.Id">Edit</a> |
                    <a href="/Orders/Details/@item.Id">Details</a> |
                    <a href="/Orders/Delete/@item.Id">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>
