﻿<h2>Details</h2>

<div>
    <h4>Product</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            Product Name
        </dt>
        <dd>
            @ViewBag.Product.ProductName
        </dd>
        <dt>
            Producer Name
        </dt>
        <dd>
            @ViewBag.Product.ProducerName
        </dd>
        <dt>
            Amount
        </dt>
        <dd>
            @ViewBag.Product.Amount
        </dd>
        <dt>
            Cost
        </dt>
        <dd>
            @ViewBag.Product.Cost
        </dd>
        <dt>
            Date of Arrival
        </dt>
        <dd>
            @ViewBag.Product.ArrivedOn
        </dd>
        <dt>
            Expiration Date
        </dt>
        <dd>
            @ViewBag.Product.ExpirationDate
        </dd>
    </dl>
</div>
<div>
    <a href="/Products/Edit/@ViewBag.Product.Id">Edit</a> |
    <a href="/Products/Index">Back To List</a>
</div>
