﻿<h2>Edit</h2>

<h4>Product</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <div class="text-danger"></div>
        @using (Html.BeginForm())
        {
            @Html.Hidden("id")
            <table class="table">
                <thead>
                    <tr>
                        <th>
                            Product Name
                        </th>
                        <th>
                            Producer Name
                        </th>
                        <th>
                            Amount
                        </th>
                        <th>
                            Cost
                        </th>
                        <th>
                            Date of Arrival
                        </th>
                        <th>
                            Expiration Date
                        </th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>
                            @Html.TextBox("productname")
                        </td>
                        <td>
                            @Html.TextBox("producername")
                        </td>
                        <td>
                            @Html.TextBox("amount")
                        </td>
                        <td>
                            @Html.TextBox("cost")
                        </td>
                        <td>
                            @Html.TextBox("arrivedon")
                        </td>
                        <td>
                            @Html.TextBox("expirationdate")
                        </td>
                    </tr>
                </tbody>
            </table>
            <input type="submit" value="Save" />
        }
    </div>
</div>
@ViewBag.Message
<div>
    <a href="/Products/Index">Back To List</a>
</div>