﻿<h2>Products List</h2>

<p>

</p>
<a href="/Products/Create">Create New</a>
@using (Html.BeginForm())
{
    <p>
        Product Name: @Html.TextBox("search") <br />
        <input type="submit" value="Filter" />
    </p>
}
<table class="table">
    <thead>
        <tr>
            <th>
                Product Name
            </th>
            <th>
                Producer Name
            </th>
            <th>
                Amount
            </th>
            <th>
                Cost
            </th>
            <th>
                Date of Arrival
            </th>
            <th>
                Expiration Date
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in ViewBag.ProductsList)
        {
            <tr>
                <td>
                    @item.ProductName
                </td>
                <td>
                    @item.ProducerName
                </td>
                <td>
                    @item.Amount
                </td>
                <td>
                    @item.Cost
                </td>
                <td>
                    @item.ArrivedOn
                </td>
                <td>
                    @item.ExpirationDate
                </td>
                <td>
                    <a href="/Products/Edit/@item.Id">Edit</a> |
                    <a href="/Products/Details/@item.Id">Details</a> |
                    <a href="/Products/Delete/@item.Id">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>
