﻿@page
@model DrugstoreWebApi.Pages.Orders.DeleteModel

@{
    ViewData["Title"] = "Delete";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>Order</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Order.Client)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Order.Client.Fname)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Order.Product)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Order.Product.ProductName)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Order.Amount)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Order.Amount)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Order.TotalCost)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Order.TotalCost)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Order.PaymentMethod)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Order.PaymentMethod)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Order.DatePurchased)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Order.DatePurchased)
        </dd>
    </dl>
    
    <form method="post">
        <input type="hidden" asp-for="Order.Id" />
        <input type="submit" value="Delete" class="btn btn-default" /> |
        <a asp-page="./Index">Back to List</a>
    </form>
</div>
