﻿@page
@model DrugstoreWebApi.Pages.Orders.DetailsModel

@{
    ViewData["Title"] = "Details";
}

<h2>Details</h2>

<div>
    <h4>Order</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Order.Client)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Order.Client.Fname)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Order.Product)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Order.Product.ProductName)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Order.Amount)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Order.Amount)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Order.TotalCost)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Order.TotalCost)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Order.PaymentMethod)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Order.PaymentMethod)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Order.DatePurchased)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Order.DatePurchased)
        </dd>
    </dl>
</div>
<div>
    <a asp-page="./Edit" asp-route-id="@Model.Order.Id">Edit</a> |
    <a asp-page="./Index">Back to List</a>
</div>
