﻿@page
@model DrugstoreWebApi.Pages.Clients.DeleteModel

@{
    ViewData["Title"] = "Delete";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this client?</h3>
<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            First Name
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Client.Fname)
        </dd>
        <dt>
            Last Name
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Client.Lname)
        </dd>
        <dt>
            Age
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Client.Age)
        </dd>
        <dt>
            Height
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Client.Height)
        </dd>
        <dt>
            Weight
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Client.Weight)
        </dd>
        <dt>
            Date of Birth
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Client.DateOfBirth)
        </dd>
    </dl>
    
    <form method="post">
        <input type="hidden" asp-for="Client.Id" />
        <input type="submit" value="Delete" class="btn btn-default" /> |
        <a asp-page="./Index">Back to List</a>
    </form>
</div>
