﻿@page
@model DrugstoreWebApi.Pages.Clients.DetailsModel

@{
    ViewData["Title"] = "Details";
}

<h2>Details</h2>

<div>
    <h4>Client</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            First Name
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Client.Fname)
        </dd>
        <dt>
            Last Name
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Client.Lname)
        </dd>
        <dt>
            Age
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Client.Age)
        </dd>
        <dt>
            Height
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Client.Height)
        </dd>
        <dt>
            Weight
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Client.Weight)
        </dd>
        <dt>
            Date of Birth
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Client.DateOfBirth)
        </dd>
    </dl>
</div>
<div>
    <a asp-page="./Edit" asp-route-id="@Model.Client.Id">Edit</a> |
    <a asp-page="./Index">Back to List</a>
</div>
