﻿@page
@model DrugstoreWebApi.Pages.Clients.EditModel

@{
    ViewData["Title"] = "Edit";
}

<h2>Edit</h2>

<h4>Client</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Client.Id" />
            <div class="form-group">
                <label asp-for="Client.Fname" class="control-label">First Name</label>
                <input asp-for="Client.Fname" class="form-control" />
                <span asp-validation-for="Client.Fname" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Client.Lname" class="control-label">Last Name</label>
                <input asp-for="Client.Lname" class="form-control" />
                <span asp-validation-for="Client.Lname" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Client.Age" class="control-label">Age</label>
                <input asp-for="Client.Age" class="form-control" />
                <span asp-validation-for="Client.Age" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Client.Height" class="control-label">Height</label>
                <input asp-for="Client.Height" class="form-control" placeholder="0,00"/>
                <span asp-validation-for="Client.Height" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Client.Weight" class="control-label">Weight</label>
                <input asp-for="Client.Weight" class="form-control" placeholder="0,00"/>
                <span asp-validation-for="Client.Weight" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Client.DateOfBirth" class="control-label">Date of Birth</label>
                <input asp-for="Client.DateOfBirth" class="form-control"/>
                <span asp-validation-for="Client.DateOfBirth" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-default" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="./Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
