﻿@page
@model AboutModel
@{
    ViewData["Title"] = "About";
}
<h2>@ViewData["Title"]</h2>
<h3>Additional information</h3>

<p>
    This is a web api for a drugstore.
    Made as project for educational purpose (university course work)
</p>
