﻿@page
@model DrugstoreWebApi.Pages.Products.CreateModel

@{
    ViewData["Title"] = "Create";
}

<h2>Create</h2>

<h4>Product</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Product.ProductName" class="control-label">Product Name</label>
                <input asp-for="Product.ProductName" class="form-control" />
                <span asp-validation-for="Product.ProductName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Product.ProducerName" class="control-label">Producer Name</label>
                <input asp-for="Product.ProducerName" class="form-control" />
                <span asp-validation-for="Product.ProducerName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Product.Amount" class="control-label">Amount</label>
                <input asp-for="Product.Amount" class="form-control" />
                <span asp-validation-for="Product.Amount" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Product.Cost" class="control-label"></label>
                <input asp-for="Product.Cost" class="form-control" placeholder="0,00"/>
                <span asp-validation-for="Product.Cost" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Product.ArrivedOn" class="control-label">Date of Arrival</label>
                <input asp-for="Product.ArrivedOn" class="form-control" />
                <span asp-validation-for="Product.ArrivedOn" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Product.ExpirationDate" class="control-label">Expiration Date</label>
                <input asp-for="Product.ExpirationDate" class="form-control" />
                <span asp-validation-for="Product.ExpirationDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-default" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
