﻿@page
@model DrugstoreWebApi.Pages.Products.DeleteModel

@{
    ViewData["Title"] = "Delete";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this product?</h3>
<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            Product Name
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Product.ProductName)
        </dd>
        <dt>
            Producer Name
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Product.ProducerName)
        </dd>
        <dt>
            Amount
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Product.Amount)
        </dd>
        <dt>
            Cost
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Product.Cost)
        </dd>
        <dt>
            Date of Arrival
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Product.ArrivedOn)
        </dd>
        <dt>
            Expiration Date
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Product.ExpirationDate)
        </dd>
    </dl>
    
    <form method="post">
        <input type="hidden" asp-for="Product.Id" />
        <input type="submit" value="Delete" class="btn btn-default" /> |
        <a asp-page="./Index">Back to List</a>
    </form>
</div>
