﻿@page
@model DrugstoreWebApi.Pages.Products.DetailsModel

@{
    ViewData["Title"] = "Details";
}

<h2>Details</h2>

<div>
    <h4>Product</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            Product Name
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Product.ProductName)
        </dd>
        <dt>
            Producer Name
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Product.ProducerName)
        </dd>
        <dt>
            Amount
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Product.Amount)
        </dd>
        <dt>
            Cost
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Product.Cost)
        </dd>
        <dt>
            Date of Arrival
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Product.ArrivedOn)
        </dd>
        <dt>
            Expiration Date
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Product.ExpirationDate)
        </dd>
    </dl>
</div>
<div>
    <a asp-page="./Edit" asp-route-id="@Model.Product.Id">Edit</a> |
    <a asp-page="./Index">Back to List</a>
</div>
