﻿<h2>Create</h2>

<h4>Client</h4>
<hr />
<div class="row">
    <div class="col-md-4">
            <div class="text-danger"></div>
            @using (Html.BeginForm())
            {
                <table class="table">
                    <thead>
                        <tr>
                            <th>
                                First Name
                            </th>
                            <th>
                                Last Name
                            </th>
                            <th>
                                Age
                            </th>
                            <th>
                                Height
                            </th>
                            <th>
                                Weight
                            </th>
                            <th>
                                Date of Birth
                            </th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>
                                @Html.TextBox("fname")
                            </td>
                            <td>
                                @Html.TextBox("lname")
                            </td>
                            <td>
                                @Html.TextBox("age")
                            </td>
                            <td>
                                @Html.TextBox("height")
                            </td>
                            <td>
                                @Html.TextBox("weight")
                            </td>
                            <td>
                                @Html.TextBox("dateofbirth")
                            </td>
                        </tr>
                    </tbody>
                </table>
                <input type="submit" value="Add" />
            }
    </div>
</div>
@ViewBag.Message
<div>
    <a href="/Clients/Index">Back To List</a>
</div>