﻿<h2>Details</h2>

<div>
    <h4>Client</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            First Name
        </dt>
        <dd>
            @ViewBag.Client.Fname
        </dd>
        <dt>
            Last Name
        </dt>
        <dd>
            @ViewBag.Client.Lname
        </dd>
        <dt>
            Age
        </dt>
        <dd>
            @ViewBag.Client.Age
        </dd>
        <dt>
            Height
        </dt>
        <dd>
            @ViewBag.Client.Height
        </dd>
        <dt>
            Weight
        </dt>
        <dd>
            @ViewBag.Client.Weight
        </dd>
        <dt>
            Date of Birth
        </dt>
        <dd>
            @ViewBag.Client.DateOfBirth
        </dd>
    </dl>
</div>
<div>
    <a href="/Clients/Edit/@ViewBag.Client.Id">Edit</a> |
    <a href="/Clients/Index">Back To List</a>
</div>
