﻿<h2>Clients List</h2>

<p>

</p>
<a href="/Clients/Create">Create New</a>
@using (Html.BeginForm())
{
    <p>
        First Name: @Html.TextBox("search") <br />
        <input type="submit" value="Filter" />
    </p>
}
<table class="table">
    <thead>
        <tr>
            <th>
                First Name
            </th>
            <th>
                Last Name
            </th>
            <th>
                Age
            </th>
            <th>
                Height
            </th>
            <th>
                Weight
            </th>
            <th>
                Date of Birth
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in ViewBag.ClientsList)
        {
            <tr>
                <td>
                    @item.Fname
                </td>
                <td>
                    @item.Lname
                </td>
                <td>
                    @item.Age
                </td>
                <td>
                    @item.Height
                </td>
                <td>
                    @item.Weight
                </td>
                <td>
                    @item.DateOfBirth
                </td>
                <td>
                    <a href="/Clients/Edit/@item.Id">Edit</a> |
                    <a href="/Clients/Details/@item.Id">Details</a> |
                    <a href="/Clients/Delete/@item.Id">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>
